<!-- <app-por-capital></app-por-capital>

<app-por-pais></app-por-pais>

<app-por-region></app-por-region>

<app-ver-pais></app-ver-pais>

<app-sidebar></app-sidebar> -->

<!-- <h1>Hola Mundo</h1> -->

<div class="row container mt-4">

    <div class="col-3">
        <app-sidebar></app-sidebar>
        <!--         <h2>Busquedas</h2>
        <hr>
        <ul class="list-group">
            <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item">Buscar por país</li>
            <li routerLink="region" routerLinkActive="active" class="list-group-item">Buscar por region</li>
            <li routerLink="capital" routerLinkActive="active" class="list-group-item">Buscar por capital</li>
        </ul> -->
    </div>

    <div class="col">
        <router-outlet></router-outlet>
    </div>

</div>